body {
    margin: auto;
    font-family: "Arial", "Helvetica", sans-serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 150%;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

#pageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;  /* allow the rows to have different heights */
    border: solid;
    border-width: 1px;
}

/* switch the horizontal positions of the filter and output panels */
#outputPanel {
    grid-column-start: 1;
    grid-row-start: 2;
}
#filterPanel {
    grid-column-start: 2;
    grid-row-start: 2;
}

/* each of the four panels */
.panel {
    text-align: center;
    margin: 5%;
}

/* each of the three cells inside each panel */
.panelGrid {
    display: grid;
    grid-auto-rows: min-content;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    border: solid;
    border-width: 2px;
    border-color: darkblue;
}

#filePicker {
    display: none;
}

@media all and (max-width: 1024px) {
    select {
        width: 100%; /* prevent options from stretching col */
    }
}

@media all and (max-width: 600px) {
    #pageGrid {
        grid-template-columns: auto;
    }
    
    #pageGrid > * {
        grid-column-start: auto;
        grid-row-start: auto;
    }
}

/* hide webcam button on touch devices */
@media (hover: none) {
    #webcamButton {
        display: none;
    }
}

footer {
    text-align: center;
    margin: 1.5rem;
}

hr {
    height: 1px;
    border: 0;
    background-color: grey;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
